button {
    border-radius: 50%;
}

html {
    background-image: url("../Images/blackbrickbackdrop.jpg");
    font-size: 16px;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

nav>ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

li>a {
    font-size: 2em;
    background-color: ;
    color: whitesmoke;
    display: block;
    border: 0.1em whitesmoke solid;
    border-radius: 0.5em;
}

li {
    margin: 1em;
}

li>a:hover {
    color: chartreuse;
    border: 0.1em chartreuse solid;
}